.mat-cell, .mat-header-cell {
  padding: 10px;
  text-align: center;
}

table, .mat-form-field {
  width: 900px;
  margin: 20px;
}

#canvas {
  width: 400px;
  height: 400px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}