
<app-data-form></app-data-form>

<app-strategy-form></app-strategy-form>
<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Run Game
    </mat-panel-title>
    <mat-panel-description>
      Define a strategy by choosing on which numbers to bet, how long to wait until betting and how to long to progress until stopping.
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-form-field>
    <mat-select placeholder="Select Dataset" [(ngModel)]="selectedData">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let element of dataList" [value]="element" >{{element}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Select Strategy" [(ngModel)]="selectedStrategy">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let element of strategyList" [value]="element" >{{element}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button (click)="onClickPlayGame()" mat-button>Play</button>
</mat-expansion-panel>

<app-game-list class="app-game-list"></app-game-list>
